@{
	Layout = null;
}
@model Synopsis.Web.Models.PageSynopsis
<!DOCTYPE html>

<html lang="en" ng-app="synopsis">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Synopsis</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/synopsis.css"/>
</head>
<body>
<div class="container" ng-controller="SynopsisController" role="none presentation">
	<section class="url-form row">
		<div class="col-xs-12" role="none presentation">
			<form name="urlForm" method="GET" action="/" ng-submit="request(urlForm.$valid, $event)">
				<label for="url">Synopsis URL:</label>
				<div class="input-group">
					<input id="url" name="url" type="text" class="form-control" placeholder="URL of the web page to summarize" ng-model="url" required value="@Request.QueryString["url"]" ng-init="url = '@Request.QueryString["url"]'"/>
					<div class="input-group-btn" role="none presentation">
						<button type="submit" class="btn btn-default" aria-label="Search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section class="row alerts" ng-cloak>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center hidden" script-visible role="presentation">
			<span class="glyphicon glyphicon-alert" ng-show="{{alert.type == 'danger'}}" aria-hidden="true"></span>
			<img src="/img/spinner.gif" alt="Loading..." ng-show="{{alert.loading}}" aria-hidden="True" />
			{{alert.msg}}
		</alert>
		@if (Model != null)
		{
			<div class="alert alert-danger text-center" role="presentation" remove-on="firstRequest" ng-hide="true">
				<span class="glyphicon glyphicon-alert"></span> Please consider turning on Javascript for the best user experience.
			</div>
		}
	</section>
	<section ng-cloak class="well results hidden row" script-visible ng-show="showResults" ng-cloak>
		<div class="top-words col-xs-12 col-sm-6 col-md-3 thumbnail pull-right text-center" role="group">
			<h3 ng-show="isWordsEmpty()">No words found...</h3>

			<div ng-hide="isWordsEmpty()" role="group">
				<h3 class="hidden-xs hidden-sm">Top {{words.length}} Words</h3>
				<h3 class="visible-xs visible-sm" aria-hidden="True">Top {{words.length}}</h3>
				<table class="table-responsive" role="presentation">
					<tr role="row">
						<td class="col-xs-4" role="columnheader"><b>Rank</b></td>
						<td class="col-xs-4" role="columnheader"><b>Word</b></td>
						<td class="col-xs-4" role="columnheader"><b>Count</b></td>
					</tr>

					<tr ng-repeat="word in words" role="row">
						<td role="gridcell">{{$index + 1}}</td>
						<td role="gridcell">{{word.word}}</td>
						<td role="gridcell">{{word.count}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-xs-6 col-sm-3 thumbnail" ng-repeat="imgUrl in images" role="group">
			<a href="{{imgUrl}}" target="_blanks">
				<img ng-src="{{imgUrl}}" />
			</a>
			<div class="caption visible-lg" role="presentation">
				<a href="{{imgUrl}}" target="_blanks">{{imgUrl|thumbEllipses}}</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-9 thumbnail text-center" ng-show="isImagesEmpty()" role="none presentation">
			<h2>No images found...</h2>
		</div>
	</section>

	@if (Model != null)
	{
		<section class="well results row server-results" remove-on="firstRequest">
			<div class="top-words col-xs-12 col-sm-6 col-md-3 thumbnail pull-right text-center" role="group">
				@if (Model.TopTenWords == null || Model.TopTenWords.Count <= 0)
				{
					<h3>No words found...</h3>
				}
				else
				{
					<div role="group">
						<h3 class="hidden-xs hidden-sm">Top @Model.TopTenWords.Count Words</h3>
						<h3 class="visible-xs visible-sm" aria-hidden="True">Top @Model.TopTenWords.Count</h3>
						<table class="table-responsive" role="presentation">
							<tr role="row">
								<td class="col-xs-4" role="columnheader"><b>Rank</b></td>
								<td class="col-xs-4" role="columnheader"><b>Word</b></td>
								<td class="col-xs-4" role="columnheader"><b>Count</b></td>
							</tr>

							
							@for(var index = 0; index < Model.TopTenWords.Count; index++)
							{
								var word = Model.TopTenWords[index];
								<tr role="row">
									<td role="gridcell">@index</td>
									<td role="gridcell">@word.Word</td>
									<td role="gridcell">@word.Count</td>
								</tr>
							}
						</table>
					</div>
				}
			</div>

			@if (Model.ImageUrls == null || Model.ImageUrls.Count <= 0)
			{
				<div class="col-xs-12 col-sm-6 col-md-9 thumbnail text-center" ng-show="isImagesEmpty()" role="none presentation">
					<h2>No images found...</h2>
				</div>
			}
			else
			{
				foreach (var imgUrl in Model.ImageUrls)
				{
					<div class="col-xs-6 col-sm-3 thumbnail" role="group">
						<a href="@imgUrl" target="_blanks">
							<img src="@imgUrl" />
						</a>
					</div>
				}
			}
		</section>
	}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/js/synopsis.js"></script>
</body>
</html>
